aliyun-python-sdk-core
aliyun-python-sdk-core-v3
aliyun-python-sdk-kms
amqp
asn1crypto
backports.csv
billiard
celery
certifi
cffi
chardet
coreapi
coreschema
crcmod
cryptography
defusedxml
diff-match-patch
dingtalk-sdk
Django
django-cors-headers
django-crispy-forms
django-filter
django-formtools
django-guardian
django-import-export
django-redis-cache
django-redis-sessions
django-restframework-apiview
djangorestframework
djangorestframework-jwt
djangorestframework-stubs
et-xmlfile
future
gevent
greenlet
hiredis
httplib2
idna
itypes
jdcal
Jinja2
jmespath
kombu
Markdown
MarkupSafe
mysqlclient
odfpy
openpyxl
oss2
Pillow
pycparser
pycrypto
pycryptodome
PyJWT
pytz
PyYAML
redis
requests
six
tablib
uritemplate
urllib3
vine
xlrd
xlwt
